* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* on utilise toute la hauteur du navigateur */
  min-height: 100vh;
}

body {
  min-height: 100%;
}

.flex {
  display: flex;
}

.bg-grey {
  background-color: #eeeeee;
}

.vertical-center {
  align-items: center;
}

.horizontal-center {
  justify-content: center;
}

.space-betweend {
  justify-content: space-between;
}
