<div id="slider" class="item-center flex diaporamaContainer flexcol">
  <!-- l'image display sur le slider -->
  <div class="item-center flex">
    <img
      id="images"
      src="assets/img/1968_Mazda_Cosmo-Sport_01.jpg"
      class="relative"
      height="auto"
      width="100%"
    />

    <!-- arrow de nav précedente -->
    <div id="arrowLeft" class="absolute btnNav left">
      <img
        src="assets/img/left-arrow.png"
        class=""
        height="50px"
        width="auto"
      />
    </div>

    <!-- arrow de nav suivante -->
    <div id="arrowRight" class="absolute btnNav right">
      <img src="assets/img/next.png" class="" height="50px" width="auto" />
    </div>
  </div>
  <!-- bouton PLAY/PAUSE --voir si il est necessaire -- -->
  <!-- <div id="playPause" class="absolute item-center flex none">
      <img id="playPauseBtn" src="img/video-pause-button.png" data-img="img/play-button.png" height="50px" width="auto">
    </div> -->

  <!-- voir si les cercles sont utiles -->
  <!-- <div id="fourCircle" class="absolute flex">
      <img id="fourCircle1" src="img/dry-clean-fill.png" data-image="img/dry-clean.png" height="20px" width="20px">
      <img id="fourCircle2" src="img/dry-clean.png" data-image="img/dry-clean-fill.png" height="20px" width="20px">
      <img id="fourCircle3" src="img/dry-clean.png" data-image="img/dry-clean-fill.png" height="20px" width="20px">
      <img id="fourCircle4" src="img/dry-clean.png" data-image="img/dry-clean-fill.png" height="20px" width="20px">
    </div> -->

  <!-- la légende en dessous du slider associé avec l'image display -->
  <!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!--DESCRIPTION A CHARGER-->
  <!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="horizontal-center flex legende flexcol">
    <!-- premiere ligne de la légende -->
    <div class="flex gap">
      <h2 class="purp">115 000 €</h2>
      <h2 class="CBlack">MAZDA COSMO SPORT</h2>
      <h2 class="CBlack">1985</h2>
      <h2 class="CBlack">10 000 km</h2>
    </div>
    <!-- deuxieme ligne de la légende -->
    <div>
      <p class="CBlack justify flex flex-wrap">
        lorem ipsum lorem ipsum it eityli fjksljjflkj hkjggjh hhdslljqsh
        hjhjhjkhqjkhjkhsjk ggjgjj ghghhgh zzjleome lorem ipsum lorem ipsum it
        eityli fjksljjflkj hkjggjh hhdslljqsh hjhjhjkhqjkhjkhsjk ggjgjj ghghhgh
        zzjleome lorem ipsum lorem ipsum it eityli fjksljjflkj hkjggjh
        hhdslljqsh hjhjhjkhqjkhjkhsjk ggjgjj ghghhgh zzjleome
      </p>
    </div>
    <!-- <h2 id="legende">
      
      je suis une légende !
    </h2> -->
  </div>
</div>
<!-- voir le slider js -->
