<footer>
  <!-- GERER LA FORME DU FOOTER -->
  <div class="container">
    <div class="flex space-between">
      <div class="flex vertical-center horizontal-center">
        <img
          src="assets/img/LogoVioletBleu.png"
          alt="logo-fujicar"
          width="120px"
          height="auto"
        />
        <p class="go3">fujicar</p>
      </div>
      <div class="flex vertical-center horizontal-center">
        <img
          src="assets/img/facebook.png"
          alt="facebook"
          width="50px"
          height="50px"
          class="mr15"
        />
        <img
          src="assets/img/instagram.png"
          alt="instagram"
          width="50px"
          height="50px"
          class="mr15"
        />
        <img
          src="assets/img/pinterest.png"
          alt="pinterest"
          width="50px"
          height="50px"
          class="mr15"
        />
        <img
          src="assets/img/twitter.png"
          alt="twitter"
          width="50px"
          height="50px"
          class="mr15"
        />
        <img
          src="assets/img/up-arrow.png"
          alt="back-to-top"
          width="50px"
          height="50px"
          class="ml15"
        />
      </div>
    </div>
    <div class="flex pct40">
      <p>2021 © FUJICAR</p>
      <p>All Rights Reserved.</p>
      <p>Mentions Légales</p>
      <p>CGU</p>
    </div>
  </div>
</footer>
