<footer>
  <div>
    <div>
      <img src="../../../../../../img/LogoVioletBleu.png" alt="logo-fujicar" />
      <p class="fujicar">fujicar</p>
    </div>
    <div>
      <img src="../../../../../../img/facebook.png" alt="facebook" />
      <img src="../../../../../../img/instagram.png" alt="instagram" />
      <img src="../../../../../../img/pinterest.png" alt="pinterest" />
      <img src="../../../../../../img/twitter.png" alt="twitter" />
      <img src="../../../../../../img/up-arrow.png" alt="back-to-top" />
    </div>
  </div>
  <div>
    <p>2021 © FUJICAR</p>
    <p>All Right Reserved.</p>
    <p>Mentions Légales</p>
    <p>CGU</p>
  </div>
</footer>
