<div id="slider" class="item-center flex diaporamaContainer">
  <!-- l'image display sur le slider -->
  <img
    id="images"
    src="../../../../../img/1968_Mazda_Cosmo-Sport_01.jpg"
    class="relative"
    height="auto"
    width="85%"
  />

  <!-- arrow de nav précedente -->
  <div id="arrowLeft" class="absolute btnNav left">
    <img
      src="../../../../../img/left-arrow.png"
      class="p5"
      height="50px"
      width="auto"
    />
  </div>

  <!-- arrow de nav suivante -->
  <div id="arrowRight" class="absolute btnNav right">
    <img
      src="../../../../../img/next.png"
      class="p5"
      height="50px"
      width="auto"
    />
  </div>
  <!-- bouton PLAY/PAUSE --voir si il est necessaire -- -->
  <!-- <div id="playPause" class="absolute item-center flex none">
        <img id="playPauseBtn" src="img/video-pause-button.png" data-img="img/play-button.png" height="50px" width="auto">
      </div> -->

  <!-- voir si les cercles sont utiles -->
  <!-- <div id="fourCircle" class="absolute flex">
        <img id="fourCircle1" src="img/dry-clean-fill.png" data-image="img/dry-clean.png" height="20px" width="20px">
        <img id="fourCircle2" src="img/dry-clean.png" data-image="img/dry-clean-fill.png" height="20px" width="20px">
        <img id="fourCircle3" src="img/dry-clean.png" data-image="img/dry-clean-fill.png" height="20px" width="20px">
        <img id="fourCircle4" src="img/dry-clean.png" data-image="img/dry-clean-fill.png" height="20px" width="20px">
      </div> -->

  <!-- la légende en dessous du slider associé avec l'image display -->
  <div class="absolute item-center flex legende">
    <h2 id="legende"><!--DESCRIPTION ANNONCE DETAILLE A CHARGER--></h2>
  </div>
  <div>
    <img
      src="../../../../../../img/ic_subdirectory_arrow_left_48px.png"
      alt="précédent"
    />
  </div>
</div>
<!-- voir le slider js -->
