<header>
  <div>
    <div>
      <img
        src="/img/LogoVioletBleu.png"
        alt="logo-fujicar"
      /><!--temporaire le src va changer -->
      <h1>FUJICAR</h1>
      <!--ne pas oublier la font-->
      <div class="button"><p>Se Connecter</p></div>
    </div>
  </div>
  <div>
    <nav>
      <div class="container">
        <a routerLink="/" routerLinkActive="active">Trouvez votre voiture</a>
        <a routerLink="/profil" routerLinkActive="active">Profil</a>
        <a routerLink="/qui-sommes-nous" routerLinkActive="active"
          >Qui sommes-nous ?</a
        >
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <div><!--occupation de l'espace à droite de la nav--></div>
      </div>
    </nav>
  </div>
</header>
